body {
    background-image: url("background.png");
    font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

.image {
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.login {
    background: #1ea167 -webkit-linear-gradient(90deg, #168d59, #1ea167);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 2px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin-left: -190px;
    padding: 20px;
    position: absolute;
    top: 150px;
    width: 340px;
}

.login h2 {
    color: white;
    font-size: 20px;
    margin: 0 0 15px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.login fieldset {
    border: 0;
    margin-bottom: 10px;
    padding: 0;
}

.login fieldset input {
    background: #138050;
    border: 1px solid #0d6b42;
    display: block;
    font-size: 13px;
    height: 12px;
    margin: 0;
    outline: none;
    padding: 13px 15px;
    width: 300px;
}

.login fieldset input:focus, .login fieldset input:active { background-color: #1ea167; }

.login fieldset input:nth-child(1) {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.login fieldset input:nth-child(2) {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    position: relative;
    top: -1px;
}

.login fieldset ::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }

.login input[type="submit"] {
    background: #f6ba35 -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 13px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    width: 335px;
}

.login input[type="submit"]:active { background-image: -webkit-linear-gradient(90deg, #ff8c00, #ff8c00); }

.login:before, .login:after {
    -webkit-transform: rotate(-3deg);
    background: rgba(0, 0, 0, 0.7);
    bottom: 80%;
    box-shadow: -10px -15px 20px rgba(0, 0, 0, 0.2);
    content: "";
    height: 80%;
    left: 5px;
    max-width: 300px;
    position: absolute;
    top: 15px;
    width: 53%;
    z-index: -1;
}

.login:after {
    -webkit-transform: rotate(3deg);
    box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.2) !important;
    left: auto;
    right: 5px;
}