body {
	font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
	background-image: url("background.png");
}

h1 {
    color: white;
    position:absolute;
    top: 5%;
    left: 40%;
}

a {
	text-decoration: none;
	color: black;
}

.card {
	background: #1ea167 -webkit-linear-gradient(90deg, #168d59, #1ea167);
	height: 260px;
	width: 210px;
	position: relative;
	top: 20vh;
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #e9e9e9;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
	font-weight: 700;
	z-index: 200;
}

.profile {
	z-index: 300;
	width: 100%;
	background: none;
	height: 150px;
}
	
.profile img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border-right: 25px;
	top: 1.25em;
	position: relative;
	display: block;
	margin: 0 auto;
	z-index: 100;
}

.border {
	width: 96px;
	height: 96px;
	border-radius: 49px;
	z-index: 99;
	background: #444;
	position: relative;
	display: block;
	top: -73px;
	margin: 0 auto;
}

/* Name */
.name {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top:-12%;
	font-size: 1.1em;
}


/* Statistics */
.numbers {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	top: -6%;
}

#stats {
	color: #c1c1c1;
	height: auto;
	position: relative;
	width: 70%;
	top: -1.5em;
	text-align: left;
	display: block;
	margin: 0 auto;
	font-size: .9em;
}

.divider {
	position: relative;
	display: block;
	width: 30%;
	opacity: 0;
	bottom: 3rem;
	margin: 0 auto;
	height: 1px;
	z-index: 500;
	background: #c4c5c4;
}

#stats td {
	padding: 0.25rem .25em .35rem .5rem;
}

#stats td:first-child {
	font-size: 1.1rem;
	display: block;
	text-align: right;
	font-weight: 400;

}

#stats td:last-child {
	position: relative;
	font-size: .75rem;
	font-weight: 700;
	top: .1rem;
}

.btn-follow:active {
	border-bottom: none;
	background-image: -webkit-linear-gradient(90deg, #ff8c00, #ff8c00);
}

.btn-follow {
    text-align: center;
    position:absolute;
    top: 56%;
    left: 44%;
    margin: 0;
    display: block;
    padding: 13px 0;
    width: 190px;
    font-size: 13px;
    font-weight: bold;
    border: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    background: #f6ba35 -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
	

